.page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  padding-block: 120px;
  padding-inline: 16px;
  font-family: 'Manrope', sans-serif;
  font-weight: 800;
  font-size: 24px;
  letter-spacing: -.26px;
  text-align: center;
  color: #cee3e9;
  background-color: #202733;
}

@media (min-width: 768px) {

  .page {
    font-size: 28px;
    letter-spacing: -.3px;
  }
}
